<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <h1>Welcome to the online Pokedex!</h1>
    <ul>
      {{#each name}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>
