<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
</head>
<body>
  <h1>{{type_name}}</h1>
  <ul>
    {{#each pokemon_name}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</body>
</html>